:root {
  --primary: #FFFFFF;
}

.btn {
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--primary);
  color: #FFC200;
  border: 1px solid #FFC200;
}

.btn--outline {
  /* TO DO*/
}

.btn--small {
  width: 255px;
  height: 40px;
  font-family: 'Roboto Condensed',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  margin: 20px 0 0 0;
}

.btn--medium {
  width: 330px;
  height: 40px;
  font-family: 'Roboto Condensed',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  margin: 20px 0 0 0;
}

.btn--large {
  width: 440px;
  height: 40px;
  font-family: 'Roboto Condensed',sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin: 20px 0 0 0;
}

.btn--large:hover,
.btn--medium:hover {
  transition: all 0.3s ease-out;
  background: #FFC200;
  color: #ffffff;
  transition: 250ms;
}