main{
  width: 100%;
  height: calc(100vh - 98px);
  background-color: #F2F2F2;
  position: relative;
}

.wrap{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 1048px;
  height: 525px;
  background: #FFFCFC;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
}

.panel{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-top: 70.5px;
}

.selectionPanel{
  font-size: 0;
  margin: 0 0 30px 0; 
}

.login-link{
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #000000;
  width: 220px;
  padding: 15px;
  border-bottom: 1px solid  #FFC200;
}

.register-link{
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #000000;
  padding: 15px;
  width: 220px;
}

form>input{
  border: 1px solid #595959;
  color: #595959;
  width: 440px;
  height: 40px;
  font-family: 'Roboto Condensed';
  font-size: 18px;
  padding-left: 20px; 
  display: block;
  margin: 0px 0 20px 0;
}

form>p{
  margin: -5px 0 15px 0;
}

.errors{
  color: #d6211d;
  font-weight: 700;
  font-size: 14px;
}

.resetPasword-link{
  text-decoration: none;
  color: #FFC200;
  font-weight: 400;
  font-size: 18px;
  text-align: right;
}

.resetPasword-link:hover{
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.login400{
  text-align: center;
  margin-top: 30px;
  font-size: 24px;
  color: #d6211d;
}